.navbar {
  background-image: url(./anhnencard.jpg);
  padding: 0 35px;
  line-height: 45px;
  justify-content: space-between;

}
.textnav {
  color: #fff;
  margin: 0 12px;
  font-weight: bold;
  text-transform: uppercase;
 
}

.textnav:hover{
  color: red;
}
.nav-router {
  margin-top: 20px;
}

.nav-function {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
}

.card-img {
  padding: 3px;
}
.card-title {
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-top: 3px;
}
.card-title-info {
  font-size: 23px;
}

.card-text{
  line-height: 24px;
  padding-left: 50px;
  color:#fff ;
}
.img-info{
  padding: 6px;
}
.card{
  background-image: url(./anhnencard.jpg);
  color:#fff;
  margin-bottom: 10px;
opacity: 0.85;
background-repeat: no-repeat ;
background-size: cover;

}

.card-payroll{
  padding: 10px 
}

.input-group-text{
  height: 40px;
}

a{
  text-decoration: none;
}

.breadcrumb-item{
font-weight: bold;
font-size: 18px;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 0.1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 0.8;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
.delete{
  position: absolute;
  right: 3px;
  top: 3px;
}

.add-staff{
  position: absolute ;
  top: 10px;
  right: 10px;
  
}

.modal-add{
  justify-content: center;
}

@media (max-width: 1300px) {
  .card-text{
    line-height: 17px;
    padding-left: 50px;
  }
}

@media (max-width: 991px) {
  .dropdown1 {
    display: none;
  }
 
  
  .card-text{
    line-height: 15px;
    padding-left: 30px;
  }
}
@media (max-width: 767px) {

  .container-fluid{
    color: #fff !important;
    
  }

  .navbarlogo {
    display: none;
  }

  .navbar {
    line-height: 40px;
    justify-content: right;
    margin: 5px 5px;
    padding: 5px 5px;
    align-items: center;
  }
  .nav-item {
    text-align: center;
  }

  .input-group-text{
    height: 35px;
  }

  input{
    height:  35px;
  }
}
